---
title: My posts and thoughts
layout: default
---

{% for post in paginator.posts %}
	<div class="articleBox">
		<a href="{{ post.url }}" title="{{ post.title }}" class="headline"><h3>{{ post.title }}</h3></a>
		{% if post.image %}
			{% if post.image contains 'http://' %}
				<img src="{{ post.image }}">
			{% else %}
				<img src="{{ site.url }}/{{ post.image }}">
			{% endif %}
		{% endif %}
		<div class="decriptionBox">
			<div class="inlineBox">
				<a href="{{ site.data.authors[post.author].url }}" class="authorName">{{ site.data.authors[post.author].name }}</a>
				<span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
			</div>
			<p class="descriptionText">
				{{ post.excerpt }}
			</p>
		</div>
	</div>
{% endfor %}
{% if paginator.total_pages > 1 %}
	<div id="loadMoreButton">
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}">next page</a>
	{% endif %}
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}">previous page</a>
	{% endif %}
	</div>
{% endif %}

{% assign size = site.posts | size %}
{% if size == 0 %}
	<p>Looks like you have some writing to do!</p>
{% endif %}